.navbar{

    position: absolute;
    width: 100%;
    z-index: 999;
    background: none;
    border: 0;
    height: 80px;
    /* border-radius:0; */
    font-size: 150%;
    margin-top: 1%;
}

.navbar-default .navbar-nav>li>a {
    color: rgb(255, 255, 255);
}

.navbar-default .navbar-brand{
    color:white;
    font-size: 150%;
} 
.navbar-default .navbar-brand:hover{
    color:black;
}

.carousel{
/* position: absolute; */
z-index: -1;
}
 .overlay{
    position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
    z-index: 2;
    background-color: #080d15;
    opacity: .5;
 }

 .carousel-caption {
    top: 25%;
    bottom: auto;
}

/* #carouselButtons {
    
    position: absolute;
    bottom: 40%;
    left: 47.5%;
} */

/* .featurette-divider {
    margin: 80px 0; Space out the Bootstrap <hr> more
  } */
  
  /* Thin out the marketing headings */
  /* .featurette-heading {
      font-size: 300%;
    font-weight: 300;
    line-height: 1;
    letter-spacing: -1px;
    margin-left: 10%;
  } */
  
  /* .lead{
    margin-left: 10%;
    font-size: 120%;
  } */

  .features-icons{

    background-color: teal;
  }

  .features-icons-icon{
      margin-top:10%;
  }

  .lead{
      margin-top:5%;
      font-size: 100%;
  }

  .services{
      margin-top:2%;
      font-size: 200%;
  }

  .contact{
    background-image: url('iStock_000003797269Medium.jpg');
   background-size:cover; 
  }